    <nav class="navbar navbar-expand-md header-navbar">
        <div class="container-fluid">
            <span class="navbar-brand logo" routerLink="/">
                <img src="../../../assets/images/logo.png" />
            </span>

            <!--div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
			          <ul class="navbar-nav ms-auto" *ngIf="isLoggedIn()">
                    <li class="nav-item" ngbDropdown>
                        <div class="user-info d-flex align-items-center" ngbDropdownToggle id="navbarDropdown" role="button" tabindex="0">
                            <div class="sigle d-flex align-items-center justify-content-center"> {{ getInitials() }} </div>
                            <div class="info d-flex flex-column">
                                <span class="login">{{getUserName()}}</span>
                            </div>
                        </div>
                        <div ngbDropdownMenu aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <a ngbDropdownItem href="#" (click)="openUpdatePasswordModal($event)" *ngIf="!isLdap" appTranslate="user.updatePassword">UPDATE_PASSWORD</a>
                            <a ngbDropdownItem href="#" (click)="openUpdateProfilModal($event)" appTranslate="user.updateProfile">UPDATE_PROFILE</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a id="logout" title="{{ 'entity.action.logout' | translate }}" (click)="logout()"></a>
                    </li>
                </ul>
            </div-->
        </div>
    </nav>
